/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.relative .text-blue-600 {
  color: #0078d7;
}

.relative .text-blue-600:hover {
  color: #005bb5;
}

button .svg-inline--fa {
  width: 1em;
  height: 1em;
}

input:focus {
  outline: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}